<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApiMainApp"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <activity
            android:name=".views.GoogleAdMobExample"
            android:exported="false" />
        <!-- <receiver android:name=".broadcasts.MyReceiver" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.AIRPLANE_MODE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity
            android:name=".views.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".views.AdvanceLoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.category.ViewCategoryRec"
            android:exported="false" />
        <activity
            android:name=".views.subcategory.AddSubCategory"
            android:exported="false" />
        <activity
            android:name=".views.category.EditCategory"
            android:exported="false" />
        <activity
            android:name=".views.category.ViewCategory"
            android:exported="false" />
        <activity
            android:name=".views.category.AddCategory"
            android:exported="false" />
        <activity
            android:name=".views.ViewProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".views.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".views.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.ViewProducts"
            android:exported="false" />
        <activity
            android:name=".views.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".views.QuoteActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>